*{
    margin: 0;
    padding: 0;
    background-color: #0d0d0d;
}
header{
    width: 100%;
    max-width: 1100;
    background-color: #0d0d0d;
    position: fixed;
    display: inline-flex;
    justify-content: space-around;
    opacity: 70%;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header nav{
    background-color: #0d0d0d;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 20px;
    font-family: "Fjalla One", sans-serif;
}
nav a{
    padding: 10px;
    background-color: #0d0d0d;
    font-size: 22px;
    font-weight: bold;
    color: #F0F2F2;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.2s ease-in;
}
nav a:hover{
    background-color: #732222;
    border-radius: 25px;
}
nav #inicio{
    background-color: #732222;
    color: #F0F2F2;
    border-radius: 5px;
    padding: 20px;
    transition: background-color 0.2s linear;
}
nav #inicio:hover{
    background-color: #F0F2F2;
    color: #0d0d0d;
}
header h1{
    background-color: #0d0d0d;
    background: linear-gradient(to left, #0d0d0d, #F0F2F2);
    background-clip: text;
    color: transparent;
    display: inline-flex;
    align-items: center;
}


.titulo {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: #ff5722;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
}

.descripcion {
    font-size: 20px;
    color: #F0F2F2;
    font-family: "Fjalla One", sans-serif;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
  width: 100%;
  height: 1000px;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400%;
}
.slider li{
    width: 80%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}



.imagenfooter{
    display: block;
    margin: auto;
}

.footer-container{
    width: 100%;
    max-width: 1100;
    background-color: #0d0d0d;
    position: bottom;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    background-color: #0d0d0d;
}
@media (min-width:768px) {
    .footer-container {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.nosotros h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #732222;
    text-align: center;
}
.nosotros p{
    color: #F0F2F2;
    line-height: 1.6;
    font-family: "NTR", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.newsletter h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #732222;
    text-align: center;
}

.subscribe-form {
    display: grid;
    justify-content: center;
    align-items: center;
}

.subscribe-form input[type="email"] {
    padding: 10px;
    font-size: 1em;
    border:#F0F2F2;
    font-family: "NTR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.subscribe-form button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ff5722;
    color: white;
    cursor: pointer;
}

.subscribe-form button:hover {
    background-color: #732222;
}

.redes h2{
    font-family: "Fjalla One", sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #732222;
    text-align: center;
}
.redes ul{
    margin-top: 25px;
}
.redes li{
    display: inline;
    margin-left: 15%;
}
